.suggestions {
    padding: 20px;
    background-color: $primary-color;

    &__title {
        color: $secondary-color;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;
        color: $secondary-color;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }

        img:hover {
            transform: scale(1.05);
        }

        &__name {
            margin-top: 10px;
            font-size: 1rem;
        }
    }
}
